@model IEnumerable<ClassViewModel>
@{
    ViewBag.Title = "Class";
    var count = 0;
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<section class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">@ViewBag.Title</h4>

                @*<div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                            <li class="breadcrumb-item active">Datatables</li>
                        </ol>
                    </div>*@

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">@ViewBag.Title Table</h4>
                    <div class="text-end p-md-2">
                        <a class="btn btn-primary" data-toggle="modal" data-bs-toggle="modal" data-target="#myModal" data-bs-target="#myModal"><b>Add New Class</b></a>
                    </div>

                    <div class="table-responsive">
                        <table id="classes_table" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Name</th>
                                    <th>Class Type</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>

                                @{
                                    if (Model.Count() > 0)
                                    {
                                        foreach (var classView in Model)
                                        {

                                            <tr>
                                                <td>@(++count)</td>
                                                <td>@classView.ClassName</td>
                                                <td>@classView.ClassType.ToString()</td>
                                                <td>
                                                    <div class='dropdown dropstart'>
                                                        <button class='btn btn-light btn-sm dropdown-toggle' type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                                            <i class='uil uil-ellipsis-v'></i>
                                                        </button>
                                                        <div class='dropdown-menu'>
                                                            <a class='dropdown-item text-primary' data-id=@classView.Id data-toggle="modal" id="editBtn" data-bs-toggle="modal" data-target="#EditModal" data-bs-target="#EditModal">
                                                                <i class='uil uil-pen'></i> EDIT
                                                            </a>
                                                            <a class='dropdown-item text-danger' href='@Url.Action("DeleteClass", new {id = classView.Id})'><i class='uil uil-trash-alt'></i> DELETE</a>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        }

                                    }
                                }

                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div> <!-- end col -->
    </div>
</section>
@await Html.PartialAsync("_AddClassPartial")
<div class="modal fade" id="EditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"  id="editClass"role="document">
       
       

    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#classes_table").DataTable({
                "processing": true, // for show progress bar
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
            });

            $('table #editBtn').on('click',
                function () {
                    var id = $(this).data("id");
                    $.get(`/Classes/GetClass/${id}`,
                        function (res) {
                            $("#editClass").html(res);
                        });
                });

        });
    </script>
}
