@model StudentTransferViewModel
@{
    ViewData["Title"] = "StudentTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 mx-lg-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Transfer A Studnet</h5>
                <hr />

                <div class="row">
                    <div class="col-lg-11 mx-lg-auto">
                        <div class="mt-4">
                            <form method="post" action="TransferTeacher">
                                <h3 class="text-danger">@TempData["TransferError"]</h3>
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <input type="hidden" asp-for="Id">

                                    <div class="col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="Name"></label>
                                            <input type="text" asp-for="Name" class="form-control" readonly id="formrow-firstname-input">
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="ClassType"></label>
                                            <input type="text" class="form-control" readonly id="formrow-firstname-input" asp-for="ClassType">
                                            <span class="text-danger" asp-validation-for="ClassType"></span>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">

                                    <div class="col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="ClassesId"></label>
                                            <input type="hidden" class="form-control" asp-for="ClassesId" />
                                            <input type="text" class="form-control" readonly asp-for="Classes.ClassName" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="LocalGovernmentId"></label>
                                            <input type="hidden" class="form-control" asp-for="LocalGovernmentId" />
                                            <input type="text" class="form-control" readonly asp-for="LocalGovernment.Name" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="SchoolId"></label>
                                        <input type="hidden" class="form-control" asp-for="LocalGovernmentId" />
                                        <input type="text" class="form-control" readonly asp-for="School.SchoolName" />
                                    </div>
                                </div>
                                <hr />

                                @*Transfer To View*@


                            <div class="row">

                                <div class="col-md-6 col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="ClassTypeTo"></label>
                                        <select class="form-select" id="ClassTypeTo" required  onchange="AddClasses()" asp-for="ClassTypeTo" asp-items="Html.GetEnumSelectList<ClassType>()">
                                            <option selected="selected" value="" disabled aria-disabled="True">Please select Class Type</option>
                                        </select>
                                        <span class="text-danger" asp-validation-for="ClassesId"></span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="ClassesIdTo"></label>
                                        <select class="form-select" id="ClassesIdTo" required  asp-for="ClassesIdTo">
                                            <option selected="selected" value="" disabled aria-disabled="True">Please select Class Type</option>
                                        </select>
                                        <span class="text-danger" asp-validation-for="ClassesIdTo"></span>
                                    </div>
                                </div>

                            </div>

                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="LocalGovernmentIdTo"></label>
                                            <select class="form-select" id="LocalGovernmentIdTo" required  onchange="AddSchools()" asp-for="LocalGovernmentIdTo" asp-items="@(new SelectList(Model.LocalGovernments, "Id", "Name"))">
                                                <option selected="selected" value="" disabled aria-disabled="True">Please select LGA</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="SchoolIdTo"></label>
                                            <select class="form-select" required  id="School" asp-for="SchoolIdTo">
                                                <option selected="selected" value="" disabled aria-disabled="True">Please select LGA</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary w-lg mb-3 "><b>Transfer</b></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AddSchools() {
        var LocalGovernmentId = $("#LocalGovernmentIdTo").val();
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetSchoolsByLga", "Student")',
                data: { "id": LocalGovernmentId },
                success: function (json, textStatus) {
                    $("#School").empty();
                    json = json || {};
                    if (json.length>0) {
                        $("#School").append('<option  disabled aria-disabled="True" value="' + 0 + '"> Please select School</option>');
                        for (var i = 0; i < json.length; i++) {
                            $("#School").append('<option value="' + json[i].id + '">' + json[i].schoolName + '</option>');
                        }
                    } else {
                        $("#School").append('<option  disabled aria-disabled="True" value="' + 0 + '">No School Reistered in LGA</option>');

                    }

                },
                error: function () {
                    alert("No School Found");
                }
        });

    }
    function AddClasses() {
        var classTypeId = $("#ClassTypeTo").val();
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetClassByType", "Student")',
                data: { "id": classTypeId },
                success: function (json, textStatus) {
                    $("#ClassesIdTo").empty();
                    json = json || {};
                    if (json.length>0) {
                        $("#ClassesIdTo").append('<option  disabled aria-disabled="True" value="' + 0 + '"> Please select Class</option>');
                        for (var i = 0; i < json.length; i++) {
                            $("#ClassesIdTo").append('<option value="' + json[i].id + '">' + json[i].className + '</option>');
                        }
                    } else {
                        $("#ClassesIdTo").append('<option  disabled aria-disabled="True" value="' + 0 + '">No Class Registered</option>');

                    }

                },
                error: function () {
                    alert("No School Found");
                }
        });

    }
</script>
